nav img{
  height: 200px;
  width: 450px;
  border-radius: 5%;
}
nav ul{
  text-align: center;
}
nav ul li{
  display: inline-block;
  padding-right: 3%;
}
nav>ul>li>a:hover{
  box-shadow: 0 0 10px black,inset 0 0 1px grey;
  background-color: salmon;
  color: slateblue;
}
nav>ul>li>a{
  padding: 5px;
}
header{
  text-align: center;
  background-image: url('https://images.unsplash.com/photo-1534963063257-6b65b54e438b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
  background-size: cover;
  padding-bottom: 5%;
  font-family: 'Playfair Display', serif;;
}
.gallery img{
  height: 250px;
  width: 250px;
  display: inline-block;
  margin: 2%;
  border-radius: 5%;
}